/**
 * Variables.
 */

// Colors.
$white: #fff;
$black: #000;

// Sizes.
$page-container-width: 1280px;

// Breakpoints.
$grid-breakpoints: (
        'small': 576px,
        'medium': 768px,
        'large': 1280px,
);
